//! -------------------------------------------------------------------------- !//
//!                                 COLORS                                     !//
//! -------------------------------------------------------------------------- !//
:root {
  --primary-color: #449fc3;
  --secondary-color: #504c65;
  --danger: #cb2127;
  --sucess: #21aa41;
  --blue: #3f51b5;
  --black: #000;
  --black-two: #212121;
  --white: #fff;
  --gray: #d3d3d3;
  --dark-gray: #727272;
}

//! -------------------------------------------------------------------------- !//
//!                                  DEFAULTS                                  !//
//! -------------------------------------------------------------------------- !//
$default_font_size: 1.6rem;
